.chain{
    display: inline-block;
    padding-top: 40px;
    margin-bottom: 20px;
}
.chain_txt{
    font-family: "Noto Sans TC","微軟正黑體", "sans-serif";
}
.chain_txt h1{
    font-size: 1vmin;
    letter-spacing: 4px;
    position: relative;
    margin-bottom: 25px;
}
.chain_txt h1::after{
    content: "";
    position: absolute;
    float: left;
    bottom: 2px;
    width: 150px;
    height: 1px;
    background: #000;
}
.chain_txt h3{
    font-size: 6vmin;
    font-weight: bold;
}